.currencies-section {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 60%;
  margin: 0 auto;
  height: 100vh;

  &__title {
    margin-top: 0;
    color: rgb(54, 54, 51);
    padding-top: 50px;
    text-align: center;
  }

  &__select-name {
    color: rgb(7, 65, 65);
    font-size: 25px;
  }

  &__current-currency-list {
    list-style: none;
  }
}

.current-currency-list-item {
  font-size: 40px;
  color: darkgreen;
}

.active {
  text-decoration: underline;
  font-size: 1.5rem;
}
